@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: sans-serif;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}
.flex-div {
  display: flex;
  align-items: center;
}
.scale-item {
  transition: transform 0.3s ease; /* Smooth scaling transition */
}

.scale-item:hover {
  transform: scale(1.2); /* Scale the item to 1.2x its original size */
}